/* CSS-Stile */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #77b0e3; /* Blau */
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0;
  margin-top: 20px; /* Abstand zu den Buttons */
}

h2 {
  margin-left: 20px;
  margin-top: 20px;
}

.logo img {
  height: 40px; /* Höhe des Logos anpassen */
}

nav {
  margin-top: 20px; /* Abstand zwischen Header-Titel und Navigation */
}

nav button {
  margin-bottom: 20px; /* Abstand zwischen den Buttons */
  background-color: #77b0e3; /* Blau */
  border: none;
  color: white;
  padding: 20px 40px; /* Verdoppelter Seitenabstand */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #5d91c9; /* Dunkleres Blau bei Hover */
}

.onlineshop-btn {
  background-color: #3a638e; /* Dunklerer Blauton */
}

.onlineshop-btn:hover {
  background-color: #274665; /* Noch dunkleres Blau bei Hover */
}

.login-btn {
  background-color: white; /* Weiß */
  color: #333; /* Dunklerer Grauton */
}

.login-btn:hover {
  background-color: #f2f2f2; /* Helleres Weiß bei Hover */
}

.management-btn,
.fertigung-btn {
  background-color: #ffa500; /* Orange */
}

.management-btn:hover,
.fertigung-btn:hover {
  background-color: #cc8400; /* Dunkleres Orange bei Hover */
}

.account-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.account-buttons button {
  background-color: #77b0e3; /* Blau */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.login-button button {
  background-color: #77b0e3; /* Blau */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  opacity: 1; /* Volle Deckkraft */
  transition: opacity 0.1s ease; /* Sanfter Übergang */
}

.login-button button:hover {
  opacity: 0.8; /* Geringere Deckkraft bei Hover */
}

.login-button .red {
  background-color: #dc6c6c;
}

.meine-logindaten {
  position: absolute;
  top: 20px;
  left: 20px;
}

.meine-logindaten p {
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
}

.login-form div {
  margin-bottom: 10px;
}

.account-buttons button:hover {
  background-color: #5d91c9; /* Dunkleres Blau bei Hover */
}

main {
  padding: 40px; /* Verdoppelter Seitenabstand */
  display: flex;
}

.main-login {
  display: grid;
  text-align: center;
}

.product-nav {
  width: 25%; /* Breite der Produkt-Navigation */
  padding-right: 40px; /* Abstand zwischen Produkt-Navigation und Hauptinhalt */
  margin-right: 40px; /* Zusätzlicher Abstand rechts */
}

.product-nav h2 {
  margin-bottom: 20px;
}

.product-nav form {
  margin-bottom: 40px;
}

.product-nav label {
  display: block;
  margin-bottom: 10px;
}

.product-nav input[type="number"],
.product-nav select {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-nav button {
  width: 100%;
  background-color: #ffa500; /* Orange */
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.product-nav button:hover {
  background-color: #cc8400; /* Dunkleres Orange bei Hover */
}

.product-nav a {
  text-decoration: none;
  color: #333; /* Dunklerer Grauton */
  font-size: 16px;
}

.product-nav a:hover {
  color: #777; /* Dunklerer Grauton bei Hover */
}

.product-content {
  flex: 1; /* Flexibles Wachstum des Hauptinhalts */
  margin-bottom: 100px;
  overflow-y: auto; /* Scrollen ermöglichen */
}

.product {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 40px; /* Verdoppelter Abstand */
  padding: 20px; /* Verdoppelter Seitenabstand */
}

.product a {
  text-decoration: none;
  color: #333; /* Dunklerer Grauton */
}

.product .product-image img {
  max-width: 150px; /* Maximale Breite des Bildes */
  max-height: 150px; /* Maximale Höhe des Bildes */
  width: auto; /* Automatische Breite beibehalten */
  height: auto; /* Automatische Höhe beibehalten */
}

.product-details {
  flex: 1; /* Flexibles Wachstum */
}

.product-details .price {
  color: #77b0e3; /* Blau */
  text-align: right; /* Text rechtsbündig ausrichten */
}

footer {
  background-color: #f2f2f2; /* Hellerer Grauton */
  color: #333; /* Dunklerer Grauton */
  padding: 20px 40px; /* Seitenabstand */
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.main {
  display: flex;
}

.product-image {
  margin-right: 20px;
}

.order-form {
  flex: 1;
}

.order-form h2 {
  margin-top: 0;
}

.product-details-container table {
  border-collapse: collapse; /* Zusammenführen der Zellenrahmen */
  width: 100%; /* Volle Breite der Tabelle */
}

.product-details-container td {
  padding: 10px; /* Innenabstand der Zellen */
  border: 1px solid #ccc; /* Rahmen um jede Zelle */
}

.product-details-container td:first-child {
  font-weight: bold; /* Erste Spalte fett formatieren */
}

.checkout-button {
  margin-left: 300px;
}

.feedback {
  color: #dc6c6c;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Weiß */
}

tr:nth-child(odd) {
  background-color: #e6f2fa; /* Hellblau */
}

/* Dropdown-Menü */
form select {
  background-color: #77b0e3; /* Blau */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  width: auto;
}

form select:hover {
  background-color: #5d91c9; /* Dunkleres Blau bei Hover */
}

#saveOrder {
  background-color: #77b0e3; /* Blau */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Abstand nach oben erhöhen */
  margin-bottom: 20px; /* Abstand nach unten */
  opacity: 1; /* Volle Deckkraft */
  transition: opacity 0.1s ease; /* Sanfter Übergang */
}

#saveOrder:hover {
  opacity: 0.8; /* Geringere Deckkraft bei Hover */
}
